<!-- Tax calculator Code Start here -->
<div class="container-fluid">
	<div class="container">
		<div class="col-md-12 col-xs-12">
			<div class="col-md-12 col-xs-12">
				<div class="col-md-12 col-xs-12 text-center"> <h1> <u> Tax Calculator </u> </h1> </div>
			</div>
			<%= form_tag('/calculate_tax' , :method => 'post' , remote: true , 'data-type' => :json , remote: true , class: 'form-horizontal form-label-left'  ) do %>

				<div class="form-group">
                	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="total-income">Total Income <span class="required">*</span></label>
	                <div class="col-md-6 col-sm-6 col-xs-12">
	                  <%= text_field_tag :total_income  %>
	                </div>
				</div>
				<span onchange="allSum()">
					<div class="form-group">
	                	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="salary-under-80c"> Salary Under 80c <span class="required">*</span></label>
		                <div class="col-md-6 col-sm-6 col-xs-12">
		                  <%= text_field_tag :salary_under_80c , params[:salary_under_80c] , :onchange => "taxLimit($(this))"  %>
		                </div>
					</div>
					<div class="form-group">
	                	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="salary-under-80cc"> Salary Under 80cc <span class="required">*</span></label>
		                <div class="col-md-6 col-sm-6 col-xs-12">
		                  <%= text_field_tag :salary_under_80cc , params[:salary_under_80cc] , :onchange => "taxLimit($(this))"  %>
		                </div>
					</div>
					<div class="form-group">
	                	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="other"> Other <span class="required">*</span></label>
		                <div class="col-md-6 col-sm-6 col-xs-12">
		                  <%= text_field_tag :other , params[:other] , :onchange => "taxLimit($(this))"  %>
		                </div>
					</div>
				</span>
				<div class="form-group">
                	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="medical-rhs"> Medical RHS <span class="required">*</span></label>
	                <div class="col-md-6 col-sm-6 col-xs-12">
	                  <%= text_field_tag :medical_rhs , params[:medical_rhs] , :onchange => "medicalReport($)"  %>
	                </div>
				</div>
				<div class="form-group">
                		<div class=" text-center col-md-12 col-sm-12 col-xs-12" for="hra"> <strong> HRA </strong> <span class="required">*</span></div>
	                <hr>
	                <div class="form-group">
	                	<label for="basic-salary" class="control-label col-md-3 col-sm-3 col-xs-12"> Basic Salary <span class="required"> * </span> </label>
	                	<div class="col-md-7"> <%= text_field_tag :basic_salary %> </div>
	                </div>
	                <div class="form-group">
	                	<label for="basic-salary" class="control-label col-md-3 col-sm-3 col-xs-12"> HRA <span class="required">*</span></label>
	                	<div class="col-md-7"> <%= text_field_tag :hra %> </div>
	                </div>
	                <div class="form-group">
	                	<label for="basic-salary" class="control-label col-md-3 col-sm-3 col-xs-12"> Home Rent <span class="required">*</span></label>
	                	<div class="col-md-7"> <%= text_field_tag :home_rent %> </div>
	                </div>

				</div>
				<div class="form-group">
                	
	                <div class="col-md-6 col-sm-6 col-xs-12">
	                  <%= submit_tag "Calculate" , class: "btn btn-success btn-lg", id: "submit" %>
	                </div>
				</div>
				
			<%end%>
		</div>
		<!-- Tax Ratio Code Starts here -->
			<div class="col-md-12 col-xs-12">
				<div class="table-responsive">
					<table class="table table-bordered table-inverse">
						<thead>
							<tr>
								<th class="text-center"> Home Rent </th>
								<th class="text-center"> Basic Salary </th>
								<th class="text-center"> Minimum Hra </th>
							</tr>
						</thead>
						<tbody>
							<tr class="text-center">
								<td id="homeRent"> </td>
								<td id="basicSalary"> </td>
								<td id="hra"> </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		<!-- Tax Ratio Code Endz here -->
	</div>
</div>
<!-- Tax calculator Code Endz here -->

<!-- Tax Slab Code Start here -->
	
	<!-- <div class="container-fluid">
		<div class="container">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-bordered table-inverse ">
						<thead>
							<tr>
								<th colspan="3" class="text-center"> <h3> <strong> Slab </strong> </h3> </th>
							</tr>
						</thead>
						<thead>
							<tr>
								<th class="text-center">Rate</th>
								<th class="text-center">Start</th>
								<th class="text-center">End</th>
							</tr>
						</thead>
						<%# TaxSlab.all.each do |slab|%>
						<tbody class="text-center">
							<tr>
								<th scope="row" class="text-center"> <%#= slab.rate %> </th>
								<td>  <%#= slab.start %> <span> Lac </span> </td>
								<td>  <%#= slab.end %> <span> Lac </span> </td>
							</tr>
						</tbody>
						<%#end%>
					</table>
				</div>
			</div>
		</div>
	</div> -->

<!-- Tax Slab Code Endz here -->

<div class="result"></div>

<!-- Scripts Starts Here -->
	<script type="text/javascript">
		function taxLimit(value){
			var singleObjectCheck = $(value).val();
			var changeToInt = parseInt(singleObjectCheck);
			check = checkCondition(changeToInt,150000);
			if (check == true) {
				alert("You Should Not Cross limit 150000 Lac ");
				$(value).val("");
			};
		}
		function allSum(){
			var salaryUnder80C =  $('#salary_under_80c').val();
			var salaryUnder80CC =  $('#salary_under_80cc').val();
			var other =  $('#other').val();
			var sum = parseInt(salaryUnder80C) + parseInt(salaryUnder80CC) + parseInt(other);
			check = checkCondition(sum,150000);
			if (check == true) {
				alert("You Should Not Cross limit 150000 Lac ");
				$("#salary_under_80c").val("");
				$("#salary_under_80cc").val("");
				$("#other").val("");
			}
		}
		function medicalReport(value){
			var medicalRhs = $("#medical_rhs").val();
			var changeToInt = parseInt(medicalRhs);
			check = checkCondition(changeToInt , 15000);
			if (check == true) {
				alert("You were cross the Medical RHS limit is 15000 ");
				$("#medical_rhs").val("");
			};
		}
		function checkCondition(key , value){
				if (key >= value){
					return true
				}
		}
			$("#submit").click(function(e){
				e.preventDefault();
				var totalIncome =  $("#total_income").val();
				var salaryUnder80C =  $("#salary_under_80c").val();
				var salaryUnder80CC =  $("#salary_under_80cc").val();
				var other =  $("#other").val();
				var medicalRhs =  $("#medical_rhs").val();
				var basicSalary =  $("#basic_salary").val();
				var hra =  $("#hra").val();
				var homeRent =  $("#home_rent").val();
				$.ajax({
					type: "POST",
					url: "/calculate_tax",
					dataType: "json",
					data: {total_income: totalIncome, salary_under_80c: salaryUnder80C , salary_under_80cc: salaryUnder80CC , other: other , medical_rhs: medicalRhs , basic_salary: basicSalary , home_rent: homeRent , hra: hra },
					success: function(slab){
						// alert("Successfull save " + " " + slab.taxSlab)
						// console.log("Successfull save" + " " + slab.taxSlab)
						$("td#homeRent").html("Home Rent is <strong>  " + slab.homeRent + "</strong>  <br> ").fadeIn(2000)
						$("td#basicSalary").html("Basic Salary is  <strong>  " + slab.basicSalary + "</strong> <br>").fadeIn(2000)
						$("td#hra").html("Minimum Hra <strong>  " + slab.minimumValue + "</strong> <br>").fadeIn(2000)
							
					}
				});
			});
	</script>

<!-- Scripts Endz Here -->



