<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<style type="text/css" media="screen">
	.row{
		display: flex;
		flex-direction:row;
		width:100%;
		flex-wrap:wrap;
		padding:1% 0;
	}
	.center{
		width:85%;
		display: flex;
		margin:0 auto;
		border-bottom:3px dashed #000;
	}
	.colm{
		/*flex:1;*/
		flex-wrap:wrap;
		width:30%;
		word-wrap:break-word;
		text-align: center;
		padding:1%;
		font-size:30px;
	}
	.btn{text-decoration:none;}
</style>

<% if @errors && @errors.size > 0 %>
	<% @errors.each do|e| %>
		<p>
			<%= e %>
		</p>
	<% end %>
<% end %>

<div class="row">
	<div class="center">
		<div class="colm"> <strong> Id </strong> </div>
		<div class="colm"> <strong> Name </strong> </div>
		<div class="colm"> <strong> Buttons </strong> </div>
	</div>
</div>

<% @posts.each do|u| %>	
	<div class="row">
		<div class="center">		
			<div class="colm"> <strong> <%= u.id %> </strong> </div>
			<div class="colm"> <%= u.name  %> </div>
			<div class="colm"> 
				<%= link_to " Show " , post_path(u) , class: "btn" %> 
				<%= link_to " Delete " , post_path(u) , method: :delete , confirm: 'Are You Sure ' , class: "btn" %> 
				<%= link_to " New Records " , new_post_comment_path(u) , class: "btn" %> 
				<%= link_to " New post " , new_post_path , class: "btn" %> 
			</div>
		</div>
	</div>
<% end %>