<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<style type="text/css" media="screen">
	.row{
		display: flex;
		flex-direction:row;
		width:100%;
		flex-wrap:wrap;
		padding:1% 0;
	}
	.colm{
		/*flex:1;*/
		flex-wrap:wrap;
		width:25%;
		padding:1%;
		font-size:20px;
	}
</style>
<div class="row">
	<div class="colm"> Id </div>
	<div class="colm"> Email </div>
	<div class="colm"> Button </div>
</div>
<% @users.each do|e| %>
	<div class="row">
		<div class="colm"> <%= e.id %> </div>
		<div class="colm"> <%= e.email %> </div>
		<div class="colm"> 
			<%= link_to "Show" , user_path(e) %> 
			<%= link_to "Edit" , edit_user_path(e) %> 
			<%= link_to "Delete" , user_path(e), method: :delete , data: {confirm: 'Are You Sure'} %> 
			<%= link_to "New User" , new_user_path %> 
			<%= link_to "New Place Order" , new_user_order_path(e) %> 
		</div>
	</div>
<% end %> 