<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
<style type="text/css">
	.container{
		display:flex;
		flex-flow:row wrap;
		justify-content:center;
		width:100%;
		overflow:hidden;
	}
	.center{
		width:80%;
	}
	.row{
		display:flex;
		flex-flow:row wrap;
		align-items:center;
		justify-content:space-around;
		width:100%;
		border-bottom:2px dotted #000;
	}
	.colm{
		width:220px;
		line-height:70px;
	}
	.btn-container{
		display:flex;
		flex-flow:row wrap;
		justify-content:space-around;
		width:100%;
	}
	.btn-box{
		display:flex;
		flex-flow:row wrap;
		justify-content:space-around;
		padding:5% 1%;
		line-height:20px;
		align-items:center;
	}
	.btn{
		border-radius:8px;
		padding:10px 25px;
		margin-top:1%;
		font-size:20px;
		font-weight:bold;
		text-decoration:none;
	}
	.btn-success{background:#00a300; color:#fff; }
	.btn-danger{background:#ee1111; color:#fff; }
	.btn-warning{background: #da532c; color:#fff; }
</style>

<div class="container">
	<div class="center">
		<div class="row">
			<div class="colm"> <h2> <strong> Id </strong> </h2> </div>
			<div class="colm"> <h2> <strong> User Id </strong> </h2> </div>
			<div class="colm"> <h2> <strong> Order Name  </strong> </h2> </div>
			<div class="colm"> <h2> <strong> Order Description  </strong> </h2> </div>
			<div class="colm"> <h2> <strong> <div class="btn-container"> Button </div> </strong> </h2> </div>
			<!-- <div class="colm"> <h2> <strong> Order Description </strong> </h2> </div> -->
		</div>
	</div>
</div>


<div class="container">
	<div class="center">
		<% @allData.each do|fetch| %>
			<div class="row">
				<div class="colm"> <%= fetch.id %> </div>
				<div class="colm"> <%= fetch.user_id %> </div>
				<div class="colm"> <%= fetch.order_name %> </div>
				<div class="colm"> <%= fetch.order_description %> </div>
				<div class="colm"> 
					<div class="btn-container">
						<div class="btn-box">
							<%= link_to "Edit", edit_user_order_path(fetch.user_id, fetch) , class: "btn btn-success" %> 
						</div>
						<div class="btn-box">
							<%= link_to "Back", users_path() , class: "btn btn-danger" %> 
						</div>
					</div>

				</div>
				<div class="colm"> <%#= fetch.order_description %> </div>
			</div>
		<% end %>
	</div>
</div>