<p>
	<%= form.label :Name  %>
	<%= form.text_field :name  %><br>
</p>
<p>
	<%= form.label :Email  %>
	<%= form.email_field :email  %><br>
</p>
<p>
	<%= form.label :Password  %>
	<%= form.password_field :password  %><br>
</p>
<p>
	<%= form.label :Address  %>
	<%= form.text_field :address  %><br>
</p>