<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<% if @msg %>
	<p>
		<%= @msg %>
	</p>
<% end %>

<%= form_for :user users_index do|create| %>
	<p>
		<%= create.label :Name %>
		<%= create.text_field :name %><br>
	</p>
	<p>
		<%= create.label :Email %>
		<%= create.text_field :email %><br>
	</p>
	<p>
		<%= create.label :Password %>
		<%= create.text_field :password %><br>
	</p>
	<p>
		<%= create.label :Address %>
		<%= create.text_field :address %><br>
	</p>
	<p>
		<%= create.submit %>
	</p>

<% end %>