<h1>Records#index</h1>
<p>Find me in app/views/records/index.html.erb</p>

<style type="text/css" media="screen">
	.row{
		display: flex;
		flex-direction:row;
		width:100%;
		flex-wrap:wrap;
		padding:1% 0;
	}
	.center{
		width:85%;
		display: flex;
		margin:0 auto;
		border-bottom:3px dashed #000;
	}
	.colm{
		/*flex:1;*/
		flex-wrap:wrap;
		width:30%;
		word-wrap:break-word;
		text-align: center;
		padding:1%;
		font-size:30px;
	}
	.btn{text-decoration:none;}
</style>

<div class="row">
	<div class="center">
		<div class="colm"> <strong> Id </strong> </div>
		<div class="colm"> <strong> User Id </strong> </div>
		<div class="colm"> <strong> User Name </strong> </div>
		<div class="colm"> <strong> User Value </strong> </div>
		<div class="colm"> <strong> Buttons </strong> </div>
	</div>
</div>

<% @records.each do|rec| %>
	<div class="row">
		<div class="center">
			<div class="colm"> <strong> <%= rec.id  %> </strong> </div>
			<div class="colm"> <%= rec.user_id  %>  </div>
			<div class="colm"> <%= rec.user.name  %>  </div>
			<div class="colm"> <%= rec.value  %>  </div>
			<div class="colm"> 
				<%= link_to " Show " , user_record_path(rec.user_id , rec)  %>  
				<%= link_to " Edit " , edit_user_record_path(rec.user_id , rec)  %>  
			</div>
		</div>
	</div>
<% end %>